/* Basic reset, box-sizing, and base font size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  position: relative;
  padding-bottom: 100px; /* Add padding to the bottom to account for the chatbot */
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #fff;
  color: #333;
}


.dall-e-image {
  max-width: 30%; /* This will make the image expand to fill the container */
  height: auto; /* Maintain aspect ratio */
  margin-left:900px;
}


/* Header styling */
header {
  position: relative; /* Changed from 'fixed' to 'relative' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.interactive-image {
  position: relative; /* Changed from 'absolute' if you want it to move with the scroll */
  top: 0; /* Adjusted from '50%' */
  left: 10px;
  transform: none; /* Removed translateY(-50%) as it's no longer needed */
  width: 130px;
  height: 130px;
  margin-left: -10px;
  margin-top: 50px;
}

/* Ensure the image inside the container fits properly */
#animationFrame {
  width: 100%;
  height: auto;
}

.highlight {
  background-color: red; /* Background color for the oval */
  color: white; /* Text color, assuming you want contrast */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 15px; /* This makes the edges rounded */
  /* Other properties as needed */
}

/* Header content styling */
.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 240px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px; /* Increase max-width as needed */
  margin: 0 auto; /* Centers the content */
  gap: 30px; /* Adds space between columns */
}

.column {
  flex: 1; /* Each column takes equal width */
  padding: 0 15px; /* Increase padding for more space */
}

.name-and-icons {
  display: flex;
  align-items: center;
  font-size: 1.4rem; /* Adjust the font size as needed */
  font-weight: bold;
  text-transform: uppercase;
}

.name-container a {
  color: #333; /* Icon color, adjust as needed */
  margin-left: 10px; /* Spacing between name and icon */
  font-size: 1.2rem; /* Icon size, adjust as needed */
  text-decoration: none; /* Removes underline from icons */
}

.name-container a:hover {
  color: #0077b5; /* Change color on hover, for LinkedIn icon */
}

.summary {
  font-size: 1rem;
  margin-top: 5px;
  color: #666;
  font-family: 'Lato', sans-serif;
  /* other styling as needed */
}

/* Navigation menu */
nav ul {
  list-style-type: none; /* Removes default bullets */
  margin-top:10px;
}

nav li::before {
  content: '🔗'; /* Replace with a default emoji */
  margin-right: 5px;
}

/* Now we will target each link individually by their href attribute to set different emojis */
nav li a[href="#info"]::before {
  content: 'ℹ️'; /* Information emoji */
}

nav li a[href="#blog"]::before {
  content: '📝'; /* Writing hand emoji */
}

nav li a[href="#selected-works"]::before {
  content: '🎨'; /* Artist palette emoji */
}

nav li a[href="#misc"]::before {
  content: '🔍'; /* Magnifying glass emoji */
}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

p, .selected-works-section ul li {
  font-family: 'Arial', sans-serif;
  color: #333;
}

@media (max-width: 600px) {
  body {
    margin-top: 80px;
  }

  header {
    height: 80px;
    padding-left: 60px;
  }

  .header-content {
    margin-left: 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 3px 0;
  }


  .interactive-image {
    width: 40px;
    height: 40px;
    top: 20px;
    left: -50px;
  }

  nav {
    margin-left: 10px;
  }

  nav li {
    margin: 0 5px;
  }
  .header-content {
    margin: auto; /* Center on smaller screens */
}
  /* Adjustments for smaller screens */
  #blog-links {
    padding-left: 10px;
  }

  .blog-image {
    width: 80px; /* Smaller images on smaller screens */
  }

}

/* Styles for the projects section */
#projects {
  margin-top: -500px; /* Reduce or increase this value to move the section up or down */
  width: auto; /* Adjust the width as needed */
  margin-left: 700px; /* Center the content */
  width:50%;
}

#projects h2 {
  font-size: 1rem; /* Smaller font size for the header */
  color: #333; /* Darker color for the header */
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: left; /* Align text to the left */
  font-weight: 600; /* Bolder for headers */
  color: #333;
  font-size: 1.4rem;
}

#projects a {
  color: #007bff; /* Primary link color */
  text-decoration: none; /* Removes underline */
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Smooth transition for hover effect */
}
#projects a:hover {
  color: #0056b3; /* Darker shade on hover */
  text-decoration: underline; /* Underline on hover */
}

#projects table {
  width: 100%;
  border-collapse: separate; /* Separate the borders for spacing */
  border-spacing: 0 15px; /* Add space between rows */
}

#projects th, #projects td {
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #333; /* More prominent grid lines */
}

#projects th {
  border-top: 2px solid #333; /* Top border for header cells */
  width: 0%;
}

/* Info Page Styles */
.info-section {
  /* Adjusted margin-top to move up the section */
  
  display: flex;
  justify-content: center;
  padding: 20px;
  /* Removed the fixed margin-left to center the content */
  margin-left: 500px;
  margin-right: auto;
  margin-top: -500px;
}

.info-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px; /* Adjust as needed */
  font-family: 'Courier New', Courier, monospace;
}

.info-description {
  flex: 1;
  padding-right: 40px;
  margin-left: 100px; /* Increase the left margin for more width */
  font-family: 'Courier New', Courier, monospace;
}

.intro-text {
  font-family: 'Courier New', monospace;
  width: 80%; /* Set the desired width for the intro-text */
  margin: 0 auto; /* Center the content within the column */
  margin-left:120px;
  margin-top: 50px;
}

.info-photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: for rounded corners */
  margin-top: 20px;
}

.info-details {
  display: flex;
  flex: 1;
  border-left: 2px solid #ccc; /* Separator line */
  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #fff;
  color: #333;
  margin-top: 0; /* Changed from 100px to 0 as the header is now part of the document flow */
}

.column {
  flex: 1;
  padding-right: 20px;
}

.column h3 {
  font-family: 'Press Start 2P', cursive;
  color: #f00;
  margin-bottom: 10px;
}

.column p {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .info-content {
      flex-direction: column;
  }

  .info-details {
      flex-direction: column;
      border-left: none;
      padding-left: 0;
  }

  .column {
      padding-right: 0;
  }

  .top-content {
    display: flex;
    justify-content: space-between; /* This will place content on left and right */
    align-items: flex-start; /* Align the content to the top */
    margin-top: 20px; /* Adjust this value as needed to create space below the header */
  }
  
  #projects {
    width: 60%; /* Full width on smaller screens */
    margin-left: auto;
    margin-right: auto;
    float: none; /* Disable floating on smaller screens */
  }

.header-content {
    margin: auto; /* Center on smaller screens */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
}

#back-button img, #forward-button img, #search-button img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}


/* Blog Links Section Styles */
#blog-links {
  display: flex; /* Enable flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */
  padding-left: 20px; /* Adjust padding for alignment */
  width: 100%; /* Full width of the parent */
}

#blog-links h2 {
  color: #ff4d4d; /* A bright, slightly orange-toned red */
  text-shadow: 0 0 10px rgba(255, 77, 77, 0.8);
  margin-bottom: 15px;
  text-align: center;
  margin-top:250px;
}

#blog-links ul {
  list-style: none;
  padding: 0;
}

#blog-links ul li {
  display: flex; /* Enables flexbox for list items */
  flex-direction: column; /* Aligns items vertically */
  align-items: flex-start; /* Aligns items to the start, ensuring they are all left-aligned */
  margin-bottom: 20px; /* Space between blog posts */
}


#blog-links ul li a {
  color: #000000;
  margin-left: 105px;
  text-decoration: none;
  transition: color 0.3s ease;
}

#blog-links ul li a:hover {
  color: #812121;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.blog-image {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px; /* Space between text and image */
}

/* Tooltip Styling - Tooltip always visible */
#blog-links ul li .tooltip {
  display: block; /* Now always visible */
  position: absolute;
  left: 110%; /* Positioning right of the link */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  z-index: 10;
  visibility: hidden; /* Hidden by default */
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#blog-links ul li:hover .tooltip {
  visibility: visible; /* Shows on hover */
  opacity: 1;
}

/* Retro Chatbot Styles */
/* Enhanced chatbot styles for better clarity */
.chatbot {
  position: absolute; /* Change to absolute positioning */
  bottom: 140px; /* Adjusted bottom position to lift it above the response box */
  right: 10px;
  background-color: #ffffff;
  color: #7FFFD4; /* Aquamarine color for text */
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: 4px solid #ffffff; /* Green border */
}
.chatbot h2 {
  color: #f00 !important; /* Gold color for headings */
  text-align: center;
  border-bottom: 1px solid #FFD700; /* Border color for separation */
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.chatbot label span {
  color: #f00; /* Aquamarine color for labels */
  font-family: 'Press Start 2P', cursive;
  display: block; /* Block display for full width */
  text-align: center;
  margin-bottom: 8px;
}

/* Updated input field for better visibility and usability */
.chatbot input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  background-color: #f8f8f8; /* Light background for visibility */
  color: #333; /* Dark text for contrast */
  border: 2px solid #000000; /* Styled border for visibility */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px;
}

.chatbot button {
  width: 97%;
  background-color: #f00; /* Green background for buttons */
  color: #FFF;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
}


.response {
  position: absolute; /* Keep as absolute positioning */
  bottom: 20px; /* Adjust if necessary to keep it within the viewable area */
  right: 10px;
  background-color: #d9a1a1;
  color: rgb(0, 0, 0) !important; /* Aquamarine color for text */
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  border: 4px solid rgb(0, 0, 0); /* Green border */
  box-shadow: 3px 3px 0px #333;
}
.response p {
  color: #000000; /* Change color to stand out against the background */
  font-family: 'Press Start 2P', cursive; /* Ensures font consistency */
  /* Add any additional styles for padding, margins, etc., if needed */
}
/* Add a main container that wraps around your content */
main {
  position: relative;
  padding-bottom: 100px; /* Add padding to the bottom to account for the chatbot */
}

/* ... existing styles ... */

/* Update the chatbot and response styles to be positioned absolutely within the main container */
/* Remove the positioning styles from the .chatbot and .response classes */
.chatbot,
.response {
  position: static; /* Resets to default positioning */
  right: auto;
  bottom: auto;
  margin: 0 auto; /* Centers the sections */
  display: block; /* Ensures the elements are block-level */
}



